@model X.PagedList.IPagedList<Gallery_Art_System.Models.User>
@using X.PagedList.Mvc.Core;

@{
    Layout = "AdminMaster";
}
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h4>Management <b>User</b></h4>
    <!-- Form tìm kiếm -->
    @{
        var classList = ViewBag.ClassList as IEnumerable<string>;
        var selectedClass = ViewBag.Class as string;
    }

    <form method="get" asp-action="Index" class="row g-3 mb-4 align-items-end px-3 ms-2">
        <!-- Họ và tên -->
        <div class="col-md-3">
            <label class="form-label fs-8 fw-bold">Full Name</label>
            <input type="text" name="FullName" value="@ViewBag.FullName"
                   class="form-control" placeholder="Nhập họ và tên...">
        </div>
       
        <!-- Nút thao tác -->
        <div class="col-md-3 d-flex gap-2">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-funnel"></i> Filter
            </button>
            <a href="@Url.Action("Index", "User")" class="btn btn-secondary">
                <i class="bi bi-x-circle"></i> Remove Filter
            </a>
        </div>
    </form>


    <div class="table-wrapper" style="text-align:center;">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a asp-controller="User" asp-action="Create" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>Add</span>
                    </a>
                    <a asp-controller="User" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                        <i class="material-icons">&#xE5C9;</i>
                        <span>Delete</span>
                    </a>
                    <a asp-controller="User" asp-action="" class="btn btn-primary" data-toggle="modal">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span>Refresh</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-success">
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <!-- "Select All" checkbox -->
                            <input type="checkbox" id="selectAll" />
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var us in Model)
                {
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <!-- Individual checkboxes -->
                                <input type="checkbox" class="checkboxItem" id="checkbox_@us.UserId" name="options[]" value="@us.UserId" />
                                <label for="checkbox_@us.UserId"></label>
                            </span>
                        </td>
                        <td>@us.Username</td>
                        <td>@us.FullName</td>
                        <td>@us.Gender</td>
                        <td>@us.Age</td>
                        <td>@us.Email</td>
                        <td>@us.Phone</td>
                        <td>@us.Address</td>
                        <td>
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@us.UserId" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@us.UserId" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete" onclick="return confirm('Bạn có chắc muốn xóa không?');">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân Trang -->
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item">@Html.PagedListPager(Model, pageNumber => Url.Action("Index", "User", new { pageNumber = pageNumber }))</li>
            </ul>
        </div>

        <div class="table-title" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a asp-controller="User" asp-action="Create" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>Add</span>
                    </a>
                    <a asp-controller="User" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                        <i class="material-icons">&#xE5C9;</i>
                        <span>Delete</span>
                    </a>
                    <a asp-controller="User" asp-action="" class="btn btn-primary" data-toggle="modal">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span>Refresh</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
