@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model X.PagedList.IPagedList<Gallery_Art_System.Models.Page>
@using Gallery_Art_System.Models
@using X.PagedList.Mvc.Core;
@{
}
@{
    Layout = "AdminMaster";
}
<div class="container-fluid">
    <h4>Menu <b>Management</b></h4>
    <div class="table-wrapper">
        <!-- Phần Tiêu Đề Bảng -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Bạn có thể thêm tiêu đề hoặc thông tin ở đây -->
                </div>
                <div class="col-sm-6">
                    @* Nút hành động: Xóa, Thêm mới, Làm mới *@                                                     
                    <a asp-controller="Page" asp-action="Create" class="btn btn-success" data-toggle="modal" data-target="#addPageModal"><i class="material-icons">&#xE147;</i> <span>Add</span></a>
                    <a asp-controller="Page" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    <a asp-controller="Page" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-arrows-rotate"></i> <span>Refresh</span></a>
                </div>
            </div>
        </div>

        <!-- Bảng cho Trang -->
        <table class="table table-hover table-bordered">
            <thead class="table-success">
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll" />
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Page Name</th>
                    <th>Page Type</th>
                    <th>Links</th>
                    <th>Link Type</th>
                    <th>Position</th>
                    <th>Order</th>
                    <th>Status</th>
                    <th style="text-align:center">Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pages in Model)
                {
                    <tr>
                        <td class="TableView_tdCenter">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox@pages.Id" name="options[]" value="@pages.Id" />
                                <label for="checkbox@pages.Id"></label>
                            </span>
                        </td>
                        <td class="TableView_Text">@Html.DisplayName(StringHelper.ShowNameLevel(@pages.Name, @pages.Level))</td>
                        <td class="TableView_TextShort">
                            @pages.Description
                        </td>
                        <td class="TableView_Text">@pages.Link</td>
                        <td class="TableView_TextShort">
                            @pages.Target
                        </td>

                        <td class="TableView_TextShort">
                            @{
                                var positionText = pages.Position switch
                                {
                                    0 => "Menu top",
                                    1 => "Menu center",
                                    2 => "Menu bottom",
                                    3 => "Bottom center",
                                    _ => "Other Position"
                                };
                            }
                            @positionText
                        </td>



                        <td class="TableView_Number">@pages.Ord</td>

                        <td class="TableView_TextShort">
                            @if (pages.Status == true)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Temporary Lock</span>
                            }
                        </td>

                        <td class="TableView_Function">
                            <a asp-controller="Page" asp-action="Create" asp-route-id="@pages.Id" asp-route-strLevel="@pages.Level" class="add" data-toggle="modal">
                                <i class="material-icons" title="Thêm cấp">&#xE147;</i>
                            </a>
                            <a asp-controller="Page" asp-action="Edit" asp-route-id="@pages.Id" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a asp-controller="Page" asp-action="Delete" asp-route-id="@pages.Id" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete" onclick="return confirm('Are you sure?');">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân Trang -->
        <div class="clearfix">

            <ul class="pagination">
                <li class="page-item">@Html.PagedListPager(Model, pageNumber => Url.Action("Index", "Page", new { pageNumber = pageNumber }))</li>
            </ul>
        </div>

        <!-- Bảng Quản Lý Thành Viên (Có thể tách thành một phần view khác nếu cần thiết) -->
        <div class="table-title" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Members <b>Management</b></h2>
                </div>
                <div class="col-sm-6">
                    <a asp-controller="Page" asp-action="Create" class="btn btn-success" data-toggle="modal" data-target="#addPageModal"><i class="material-icons">&#xE147;</i> <span>Add</span></a>
                    <a asp-controller="Page" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    <a asp-controller="Page" asp-action="Index" class="btn btn-primary"><i class="fa-solid fa-arrows-rotate"></i> <span>Refresh</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal cho Thêm Trang Mới -->
<div class="modal fade" id="addPageModal" tabindex="-1" role="dialog" aria-labelledby="addPageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPageModalLabel">Add new page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <!-- Các trường thông tin cho việc tạo trang mới -->
                    <div class="form-group">
                        <label for="Name">Page Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required />
                    </div>
                    <div class="form-group">
                        <label for="Link">Links</label>
                        <input type="text" class="form-control" id="Link" name="Link" required />
                    </div>
                    <div class="form-group">
                        <label for="Position">Position</label>
                        <select class="form-control" id="Position" name="Position">
                            <option value="1">Bottom-center</option>
                            <option value="2">Menu center</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Ord">Order</label>
                        <input type="number" class="form-control" id="Ord" name="Ord" required />
                    </div>
                    <div class="form-group">
                        <label for="Active">Status</label>
                        <select class="form-control" id="Active" name="Active">
                            <option value="1">Visible</option>
                            <option value="0">Hiden</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>



