﻿@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Gallery_Art_System.Models.Contact>

@{
    Layout = "AdminMaster";
    ViewData["Title"] = "Quản lý Contact";
}

<div class="container-fluid">
    <h4>Management <b>Contact</b></h4>
    <div class="table-wrapper" style="text-align:center;">
        
        <table class="table table-hover table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Topic</th>
                    <th>Message</th>
                    <th>Created_At</th>                  
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.Name</td>
                            <td>@c.Email</td>
                            <td>@c.Subject</td>
                            <td>@Html.Raw(c.Message)</td>
                            <td width="200">@c.SentAt?.ToString("dd/MM/yyyy HH:mm")</td>                            
                        </tr>
                    }
                }
                else
                {
                }
            </tbody>
        </table>

        <div class="clearfix">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { pageNumber = page }))
            </ul>
        </div>

       
    </div>
</div>