@model X.PagedList.IPagedList<Gallery_Art_System.Models.Config>
@using X.PagedList.Mvc.Core

@{
    Layout = "AdminMaster";
    ViewData["Title"] = "Config";
}

<div class="container-fluid">
    <h2>Config <b>Management</b></h2>
    <div class="table-wrapper" style="text-align:center;">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a asp-controller="Config" asp-action="Create" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>Add</span>
                    </a>
                    <a asp-controller="Config" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                        <i class="material-icons">&#xE5C9;</i>
                        <span>Delete</span>
                    </a>
                    <a asp-controller="Config" asp-action="" class="btn btn-primary" data-toggle="modal">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span>Refresh</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <!-- "Select All" checkbox -->
                            <input type="checkbox" id="selectAll" />
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Mail</th>
                    <th>Mail_Port</th>
                    <th>Mail_Info</th>
                    <th>Contact</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Socail1</th>
                    <th>Socail2</th>
                    <th>Socail3</th>
                    <th>LinkVideo1</th>
                    <th>LinkVideo1</th>
                    <th>LinkVideo1</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cf in Model)
                {
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <!-- Individual checkboxes -->
                                <input type="checkbox" class="checkboxItem" id="checkbox_@cf.Id" name="options[]" value="@cf.Id" />
                                <label for="checkbox_@cf.Id"></label>
                            </span>
                        </td>
                        <td>@cf.Mail</td>
                        <td>@cf.MailPort</td>
                        <td>@cf.MailInfo</td>
                        <td>@cf.Contact</td>
                        <td>@Html.Raw(cf.Title)</td>
                        <td>@Html.Raw(cf.Description)</td>
                        <td>@cf.SocialLink1</td>
                        <td>@cf.SocialLink2</td>
                        <td>@cf.SocialLink3</td>
                        <td>@cf.LinkVideo1</td>
                        <td>@cf.LinkVideo2</td>
                        <td>@cf.LinkVideo3</td>
                        <td>
                            <a asp-controller="Config" asp-action="Edit" asp-route-id="@cf.Id" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a asp-controller="Config" asp-action="Delete" asp-route-id="@cf.Id" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete" onclick="return confirm('Are you sure?');">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân Trang -->
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item">@Html.PagedListPager(Model, pageNumber => Url.Action("Index", "Config", new { pageNumber = pageNumber }))</li>
            </ul>
        </div>

        
        </div>
    </div>
</div>
