@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Gallery_Art_System.Models.Admin>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpCTA
@{
    Layout = "AdminMaster";
}
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h4>Admin <b>Management</b></h4>
    <div class="table-wrapper" style="text-align:center;">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a asp-controller="Admin" asp-action="Create" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>Add</span>
                    </a>
                    <a asp-controller="Admin" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                        <i class="material-icons">&#xE5C9;</i>
                        <span>Delete</span>
                    </a>
                    <a asp-controller="Admin" asp-action="" class="btn btn-primary" data-toggle="modal">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span>Refresh</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="table-success">
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <!-- "Select All" checkbox -->
                            <input type="checkbox" id="selectAll" />
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <th>Name</th>
                    <th>Account</th>
                    <th>Password</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ad in Model)
                {
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <!-- Individual checkboxes -->
                                <input type="checkbox" class="checkboxItem" id="checkbox_@ad.Id" name="options[]" value="@ad.Id" />
                                <label for="checkbox_@ad.Id"></label>
                            </span>
                        </td>
                        <td>@ad.Name</td>
                        <td>@ad.UserName</td>
                        <td>@ad.Password</td>
                        <td>
                            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@ad.Id" class="edit" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                            </a>
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@ad.Id" class="delete" data-toggle="modal">
                                <i class="material-icons" data-toggle="tooltip" title="Delete" onclick="return confirm('Bạn có chắc muốn xóa không?');">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Phân Trang -->
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item">@Html.PagedListPager(Model, pageNumber => Url.Action("Index", "Admin", new { pageNumber = pageNumber }))</li>
            </ul>
        </div>

        <div class="table-title" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <a asp-controller="UserAdmin" asp-action="Create" class="btn btn-success" data-toggle="modal">
                        <i class="material-icons">&#xE147;</i>
                        <span>Thêm</span>
                    </a>
                    <a asp-controller="UserAdmin" asp-action="DeleteAll" class="btn btn-danger" data-toggle="modal" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                        <i class="material-icons">&#xE5C9;</i>
                        <span>Xóa</span>
                    </a>
                    <a asp-controller="UserAdmin" asp-action="" class="btn btn-primary" data-toggle="modal">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <span>Làm mới</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
