﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Gallery_Art_System.Models.Exhibition>
@{
    Layout = "AdminMaster";
    ViewData["Title"] = "Quản lý Exhibition";
}

<div class="container-fluid">
    <h4>Exhibitions <b>Gallery</b></h4>
    <div class="table-wrapper" style="text-align:center;">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <a asp-controller="Exhibition" asp-action="Create" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i> <span>Add</span>
                    </a>
                    <a asp-controller="Exhibition" asp-action="Index" class="btn btn-primary">
                        <i class="fa-solid fa-arrows-rotate"></i> <span>Refresh</span>
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead class="table-success">
                <tr>
                    <th>Exhibition Name</th>
                    <th>Location</th>
                    <th>Opening Date</th>
                    <th>Closing Date</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ex in Model)
                {
                    <tr>
                        <td>@ex.Name</td>
                        <td>@ex.Location</td>
                        <td>@ex.StartDate?.ToString("dd/MM/yyyy")</td>
                        <td>@ex.EndDate?.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(ex.ImageUrl))
                            {
                                <img src="@ex.ImageUrl" alt="Exhibition Image" width="100" />
                            }
                            else
                            {
                                <span>No image</span>
                            }
                        </td>
                        <td>@Html.Raw(ex.Description)</td>
                        <td>
                            <a asp-controller="Exhibition" asp-action="Edit" asp-route-id="@ex.ExhibitionId" class="edit">
                                <i class="material-icons" title="Edit">&#xE254;</i>
                            </a>
                            <a asp-controller="Exhibition" asp-action="Delete" asp-route-id="@ex.ExhibitionId" class="delete" onclick="return confirm('Bạn có chắc muốn xóa không?');">
                                <i class="material-icons" title="Delete">&#xE872;</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="clearfix">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { pageNumber = page }))
            </ul>
        </div>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <a asp-controller="Exhibition" asp-action="Create" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i> <span>Thêm</span>
                    </a>
                    <a asp-controller="Exhibition" asp-action="Index" class="btn btn-primary">
                        <i class="fa-solid fa-arrows-rotate"></i> <span>Làm mới</span>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</div>